body {
	background-color: #444444;
	color: white;
	font-family: sans-serif;

}

h1 {
	font-family: serif;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}

h2 {
	font-weight: bold;
}

h3 {
	text-transform: uppercase;
	font-size: 14px;
	color: #C0C1C0;
}

a {
	color: #61D39F;	
}

nav {
	text-align: center;
	font-weight: bold;
}