@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  background-color: #E8EDF7;
  font-family: 'Lato',sans-serif;
  margin: 0 auto;
  max-width: 60%;
  border: 1px solid black;
  margin-top: 50px;
  padding: 20px 50px 50px 50px;
}

h1 {
  text-align: center;
  font-weight: 700;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
}

strong {
  font-weight: 900;
}

img {
  padding: 3px;
  border: 1px solid #9A9A9A;
  margin: 15px;
  width: 200px;
  height: auto;
  float: right;
}

a {
  color: #E3787C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  text-align: center;
}

.position {
  font-weight: lighter;
  font-style: italic;
}

.employer {
  font-weight: 900;
}

.wl {
  font-size: 80%;
  font-style: italic;
  text-transform: uppercase;
  color:#83888B;
}

.jd {
  color:#83888B;
}

.mainDiv {
  border: 1px solid #9A9A9A;
}